<div class="container">
  <div class="row">
    <div clas="col-md-6">
      <h1>Flights</h1>
      <p> List of all current flights</p>
      <h5><%= link_to 'New Flight', new_flight_path %></h5>
    </div>
  </div>


<div class="row">
  <%= paginate @flights %>
  <table class="table text-center table-bordered table-hover ">
  <thead class="thead-dark ">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Departure Time</th>
      <th scope="col">Arrival Time</th>
      <th scope="col">Base Airport</th>
      <th scope="col">Destination</th>
      <th scope="col">Stops</th>
      <th scope="col">Seats</th>
      <th scope="col">Price</th>
      <th scope="col">Equipment</th>
      <th scope="col" colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
    <tr>
      <th scope="row">#</th>
      <td><%= flight.departureTime %></td>
      <td><%= flight.arrivalTime %></td>
      <td><%= flight.base_airport %></td>
      <td><%= flight.destination %></td>
      <td><%= flight.stops %></td>
      <td><%= flight.seats %></td>
      <td><%= flight.price %></td>
      <td><%= flight.equipment %></td>
      <td><%= link_to 'Show', flight %></td>
      <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
      <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  </tbody>
  <% end %>
</table>
<%= paginate @flights %>
</div>

  <br>
</div>
